<div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-3">
        <input type="text" name="nombre" class="form-control" id="nombre" data-ng-model="empresa.nombre" maxlength="80" placeholder="Nombre" required="true">
    </div>
    <label for="nombre" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-3">
        <textarea name="descripcion" class="form-control" id="descripcion" data-ng-model="empresa.descripcion" placeholder="Descripción..." row="3" ></textarea>
    </div>

</div>