<div class="row">
	<div class="form-group col-md-6 col-xs-12">
		<div class="row">
			<label for="cuit" class="col-md-3 col-xs-12 col-form-label">CUIT</label>
			<div class="col-md-9 col-xs-12">
				<input-cuit object="empresa" ></input-cuit>
			</div>
		</div>
	</div>
	<div class="form-group col-md-6 col-xs-12">
		<div class="row">
			<label for="razonSocial" class="col-md-3 col-xs-12 col-form-label">Razón social</label>
			<div class="col-md-9 col-xs-12">
				<input type="text" name="razonSocial" class="form-control" id="razonSocial" data-ng-model="empresa.razonSocial" maxlength="80" placeholder="Razón social" required="true" >
			</div>
		</div>
	</div>
	<div class="form-group col-md-6 col-xs-12">
		<div class="row">
			<label for="nombreFantasia" class="col-md-3 col-xs-12 col-form-label">Nombre de fantasía</label>
			<div class="col-md-9 col-xs-12">
				<input type="text" name="nombreFantasia" class="form-control" id="nombreFantasia" data-ng-model="empresa.nombreFantasia" maxlength="80" placeholder="Nombre de fantasía" >
			</div>
		</div>
	</div>
	<div class="form-group col-md-6 col-xs-12">
		<div class="row">
			<label for="fechaInicioActividad" class="col-sm-3 col-form-label">Fecha de inicio de act.</label>
			<div class="col-sm-9">
				<input type="text" name="fechaInicioActividad" class="form-control" id="fechaInicioActividad" data-ng-model="empresa.fechaInicioActividad" validDate="true" placeholder="dd-mm-aaaa"  >
			</div>
		</div>
	</div>