{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section>
        <div class="">
            <h2 class="title_interior">Perfil</h2>
        </div>
        <br>
        <form id="formMisDatos" class="">
            <div class="row text-primary">
                <h5>Usuario</h5>
            </div>	
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Usuario</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.usuario}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Usuario desde</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.fecha_creacion|date("d/m/Y")}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">Apellido y nombre</label>
                        <div class="col-md-4 col-xs-12">
                            <input value="{{data.usuario.persona.apellido ~' '~ data.usuario.persona.nombre }}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">DNI</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.dni}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">CUIL</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.cuil}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Mail</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.email}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">Fecha Nac.</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.fecha_nacimiento}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12">
                    <div class="float-right">                        
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btnM colorBase" href="{{path('admin_admin_modificacion_misdatos_clave')}}">Modificar Contraseña</a> 
                        {% endif %}
                        {% if is_granted('ROLE_HACIENDA') %}
                            <a class="btnM colorBase" href="{{path('hacienda_hacienda_modificacion_misdatos_clave')}}">Modificar Contraseña</a> 
                        {% endif %}
                        {% if is_granted('ROLE_ORGANIZACION_CONC') %}
                            <a href="{{path('empresaconc_empresaconc_modificacion_misdatos_clave')}}" class="btnM colorBase" >Modificar Contraseña</a>	
                        {% endif %}
                        {% if is_granted('ROLE_ORGANIZACION_BASE') %}
                            <a href="{{path('empresabase_empresabase_modificacion_misdatos_clave')}}" class="btnM colorBase" >Modificar Contraseña</a>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>            
            {% if is_granted('ROLE_ORGANIZACION_CONC') or is_granted('ROLE_ORGANIZACION_BASE') %}
                <div class="row">
                    <div class="col"><hr></div>
                </div>
                <div class="row text-primary">
                    <h5>Organización asociada</h5>
                </div>	
                <div class="row">
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="row">
                            <label for="cuit" class="col-md-3 col-xs-12 col-form-label">CUIT</label>
                            <div class="col-md-3 col-xs-12">
                                <input value="{{data.empresa.cuit}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="row">
                            <label for="razonSocial" class="col-md-3 col-xs-12 col-form-label">Razón social</label>
                            <div class="col-md-9 col-xs-12">
                                <input value="{{data.empresa.razon_social}}" type="text" readonly class="form-control-plaintext font-weight-bold"  />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="row">
                            <label for="nombreFantasia" class="col-md-3 col-xs-12 col-form-label">Nombre de fantasía</label>
                            <div class="col-md-9 col-xs-12">
                                <input value="{{data.empresa.nombre_fantasia}}" type="text" readonly class="form-control-plaintext font-weight-bold"  />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="row">
                            <label for="persona" class="col-md-3 col-form-label">Persona/s</label>
							<div  class="col-md-9 col-xs-12">
								<ul>
									{% for per in data.empresa.personas %}
										<li class="font-weight-bold" >{{per.apellido ~' '~per.nombre}}</li>
										{% endfor %}
								</ul>
							</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="row">
                            <label for="fechaInicioActividad" class="col-sm-3 col-form-label">Fecha de inicio de act.</label>
                            <div class="col-sm-9">
                                <input value="{{data.empresa.fecha_inicio_actividad|date("d/m/Y")}}" type="text" readonly class="form-control-plaintext font-weight-bold"  />
                            </div>
                        </div>
                    </div>
                    {% if (not data.empresa.organizacion) %} 
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <label for="organizaciones" class="col-md-1 col-xs-12 col-form-label">Organizaciones</label>
                                <div  class="col-md-9 col-xs-12">
                                    <ul>
                                        {% for org in data.empresa.organizaciones %}
                                            <li class="font-weight-bold" >{{ org.razon_social}} - {{ org.cuit}}</li>
                                            {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12">
                        <div class="float-right">
                            {% if is_granted('ROLE_ORGANIZACION_CONC') %}
                                <a href="{{path('empresaconc_empresaconc_modificacion_misdatos')}}" class="btnM colorBase" >Modificar</a>
                            {% endif %}
                            {% if is_granted('ROLE_ORGANIZACION_BASE') %}
                                <a href="{{path('empresabase_empresabase_modificacion_misdatos')}}" class="btnM colorBase" >Modificar</a>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}