<div class="form-group row">
    <label for="titulo" class="col-sm-2 col-form-label">Título</label>
    <div class="col-sm-4">
        <input type="text" name="titulo" class="form-control" id="titulo" data-ng-model="publicidad.titulo" maxlength="80" placeholder="Titulo" required="true">
    </div>
    <label for="nombre" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-4">
        <textarea name="descripcion" class="form-control" id="descripcion" data-ng-model="publicidad.descripcion" placeholder="Descripción..." row="3" ></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="titulo" class="col-sm-2 col-form-label">Tipo</label>
    <div class="col-sm-4">
        <select class="form-control" ng-model="tipo.seleccionado" id="tipo" name="tipo" data-ng-options="p.id as p.nombre for p in aTipos" reuired>
            <option value="" disabled>Seleccione...</option>
        </select> 
    </div>
    <label for="nombre" class="col-sm-2 col-form-label">Estado</label>
    <div class="col-sm-4">
        <select class="form-control" data-ng-model="estado.seleccionado" id="estado" name="estado" data-ng-options="e.id as e.nombre for e in aEstados" required>
            <option value="" disabled>Seleccione...</option>
        </select> 
    </div>
</div>
<div class="form-group row">
    <label for="duracion" class="col-sm-2 col-form-label">Duración 
        <span style="font-size: 10px; font-weight: bold;">(Segundos)</span>
    </label>
    <div class="col-sm-3">
        <input type="range" name="duracion" data-ng-model="publicidad.duracion" min="0" max="60"  class="form-control" id="duracion">
    </div>
    <div class="col-sm-1">
        {[{publicidad.duracion}]}
    </div>
    <label for="titulo" class="col-sm-2 col-form-label">Url publicidad</label>
    <div class="col-sm-4">
        <input type="text" name="url" class="form-control" id="url" data-ng-model="publicidad.url" placeholder="http://www.publicidaddeejemplo.com">
    </div>

</div>
<div class="form-group row">
    <label for="titulo" class="col-sm-2 col-form-label">Imagen/Video/Audio</label>
    <div class="col-sm-4">
        <div>  
            <div class="custom-file">
                <input type="file" accept="image/png, image/jpeg, video/mp4,video/avi, audio/*" class="custom-file-input" lang="es"                       
                       name="archivo" id="archivo" />
                <label class="custom-file-label" for="customFileLang" style="color:gray">Seleccionar Archivo...</label>
            </div>
        </div>
    </div> 
    <div class="col-sm-6" data-ng-if="imagen">
        <img name="imagen" id="imagen" src="#" alt="Sin imagen" style="width: 100%;max-height: 100%">
    </div>
    <div class="col-sm-6" data-ng-if="video">
        <video width="400" controls class="video" >
            <source src="#" id="video_here">
            No se pudo reproducir el video.
        </video>
    </div>
    <div class="col-sm-6" data-ng-if="audio">
        <audio controls="controls" id="audio">
            <source src="#" id="audio_here"/>
        </audio>
    </div>
</div>
