<div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-3">
        <input type="text" name="nombre" class="form-control" id="nombre" data-ng-model="parada.nombre" maxlength="80" placeholder="Nombre" required="true">
    </div>
    <label for="linea" class="col-sm-2 col-form-label">Linea de colectivo</label>
    <div class="col-sm-3">
        <select id="lineas" name="lineas" class="form-control input-sm" validateLinea="true" >
        </select>
        <span class="custom-error" ></span>
    </div> 

</div>
<div class="form-group row">    
    <label for="latitud" class="col-sm-2 col-form-label">Latitud</label>
    <div class="col-sm-3">
        <input type="text" name="latitud" class="form-control" id="latitud" data-ng-model="parada.latitud" maxlength="80" placeholder="Latitud" required="true">
    </div>
    <label for="longitud" class="col-sm-2 col-form-label">Longitud</label>
    <div class="col-sm-3">
        <input type="text" name="longitud" class="form-control" id="longitud" data-ng-model="parada.longitud" maxlength="80" placeholder="Longitud" required="true">
    </div>
</div>