/* colores */

.docs-colores {
  float:left;
}
.docs-colores span {
  color: #fff;
  text-align:center;
  margin:0 20px 20px 20px;
  width:110px;
  height:110px;
  border-radius:110px;
  padding-top:45px;
  display:block;
  float:left;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
