
.hand {
    cursor: pointer;
}
a.custom-card,
a.custom-card:hover {
	color: inherit;
	text-decoration: none;
}

/*.card{
    background-color: #33b5e5!important;
    color: white;
}*/

.error {
    font-size: 14px;
    color: red;
	display: block;
	clear: both;
	margin: 0px auto
}
/* corregir modal */
.modal.fade.in {
	opacity: 1;
}
.modal.in .modal-dialog {
	transform: translate(0, 0);
}
.modal-backdrop.in {
	opacity: 0.5;
	/* opacity: $modal-backdrop-opacity; (SCSS) */
}

.page { 	border-top:1px solid #efefef; 
	padding-top: 15px; }

.page li {
    cursor: pointer;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
}


.page .active {
    background-color: #3D4D66;
    border-color: #337ab7;
}

.page .active a {
    color: white !important;
}

.page a {
    color: #3D4D66 !important;
}

.working{position: relative;}
.working:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .8;
    background: rgba(247, 247, 247, 1) url('../images/ajax-loader.gif') no-repeat center center;
    z-index: 999;
}

input[type="file" i] {
    cursor: pointer !important;
}

.custom-file-label::after {
    content: 'Buscar';
}

.table tr {
    font-size: 15px;
}

.accordion {
  background-color: #e9ecef;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.1s;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activeAcc:after {
  content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	border-bottom: 0.5px solid #ccc;

}

.table .botonChico button{
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.form-box
{
  width: 100%;
  height: 100%;      
  display: flex;
  align-items: center;
}

.iconos-acciones {  
    font-weight: bold;
    color: #31A1DE}

.mano {
    cursor: pointer;
}
.iconP { margin-right:15px 
}

.btn-custom{
    background-color: #33b5e5!important;
    color:   white;
}

#sectionHome {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.itemProf {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.colorBase { background-color:#0072bb}

nav ul { list-style: none }

.breadcrumb02 { background-color: #fff; margin: 14px 0px; border-bottom: 1px solid #ededed; padding-bottom: 14px; padding-left: 12px}

.tituloLogo {clear:both; display:block;overflow: auto;margin-bottom: 12px; padding-top:20px; color: #464646}
.tituloLogo div { margin-left: 8px; margin-bottom: 0px; padding: 15px 0px}
	.tituloLogo h1 { float: left; margin-right: 14px}
	.tituloLogo h1 a{ text-decoration: none; color: #464646!important}

.navColor { background-color:#3D4D66 }

.colorBase { background-color:#3D4D66 }
.colorInfo { background-color:#2897d4 }

.btnM { -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; color: #fff!important; text-transform: uppercase; padding: 12px 22px;
font-size: 16px;
font-weight: bold;
letter-spacing: 1px; display: inline-block; margin: 4px 2px; border: none!important}

.btnMsec { -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; color: #fff!important; text-transform: uppercase; padding: 12px 22px;
font-size: 16px;
font-weight: bold;
letter-spacing: 1px; color: #3D4D66 !important;
background-color: #fff;
box-shadow: inset 0 0 0 3px #DEE2E6; display: inline-block;  margin: 4px 0px; border: none!important }

.card-header { border-bottom: 0px!important}
.tarjAzul { margin-bottom: 18px}
.tarjAzul a { text-decoration: none!important}
.tarjAzul a:hover { background-color: #3D4D66}
.tarjAzul a .card-body h3 {color: #333;font-size: 1.3em;}
.tarjAzul a:hover .card-body h3 {color: #fff}
.card { box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
border: 0;
font-weight: 400;}

.breadcrumb02 li { display: inline-block}

.fLeft { float: left}
.fRight { float: right}

.navbar-toggler {color:#fff!important; border:none!important}

.navbar-toggler-icon { color:#fff!important}
.navbar-light .navbar-toggler { padding:0px!important; }

.navbar-light .navbar-nav .active > .nav-link { color:#fff; margin-right: 12px}
.nav-link span { margin-right:8px}

#navbarDropdownMenuLink { color:#fff!important; padding-top: 16px}


.breadcrumb { background-color: #fff; border-bottom: 1px solid #ededed; border-radius: 0px!important; margin-bottom: 42px }
.footerBase {border-top:1px solid #ededed; position:absolute; width:100%; background-color:#fff}

.divisorBtn {display:block; clear:both; width:100%; margin-top:50px}

@media screen and (max-width: 970px){
		.navbar-nav { border-top:0.5px dashed #efefef; margin-top: 18px!important}
}

@media screen and (max-width: 1140px) { 
	.tituloLogo h1 { clear:both; float: none!important; width: 100%}
.bajadaLogo { display: block; clear: both}
	.tituloLogo div { padding: 0px}

}
/*para hacer mas ancho el modal*/
.modal-xlg{
    width: 90% !important;
}