{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block stylesheets %}
    <link href="{{asset('app/css/login.css')}}" rel="stylesheet">
{% endblock %}
{% block title %}Acceso al sistema{% endblock %}
{% block body %}
    <section id="cover" data-ng-controller="loginController"  data-ng-init="init();" >
        <div class="wrapper">
            <div id="formContent">

                <!-- Icon -->
                <div>
                    <div class="form-group">
                        <i style="color: gray" class="fas fa-user fa-5x"></i>
                    </div>
                </div>
				
				                <!-- Tabs Titles -->
                <h2 class="display-6">Acceso al Sistema</h2>
                <!-- Login Form -->
                <form id="formLogin" action="{{ path('login') }}" data-ng-submit="login();" class="form-inlin justify-content-center" method="post">
                    <div class="form-group">
                        <label class="sr-only">Usuario</label>
                        <input type="text" id="username" placeholder="Usuario" name="_username" value="{{ last_username }}" required maxlength="20">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Contraseña</label>
                        <input type="password" id="password" name="_password" placeholder="Contraseña" required maxlength="20">
                    </div>
                    <div class="form-group">
                        <input type="submit" style="font-weight: bold" value="Ingresar" class="btnM colorBase">
                    </div>
                </form>
                    <a href="{{path('public_recuperar_clave')}}" class="form-group">Olvidé mi contraseña</a>

                <!-- Remind Passowrd -->
                {% if error %}
                    <div id="formFooter">
                        <div class="text-center">
                            <div class="alert alert-danger" role="alert">
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/js/controllers/loginController.js')}}"></script>
{% endblock %}