<div class="form-group row">
    <label for="cuil" class="col-sm-2 col-form-label">DNI</label>
    <div class="col-sm-3">
        <div class=" input-group mb-e">            
            <input type="text" class="form-control" placeholder="DNI" name="dni" id="dni" data-ng-model="persona.dni" data-ng-enter="buscarPersona();" maxlength="8" minlength="7"  onkeypress="return isNumberKey(event);" data-ng-disabled="disableInputDni" >
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" data-ng-click="buscarPersona();" data-ng-disabled="disableInputDni"><span class="fa fa-search"></span></button>
            </div>
            <span id="errorDni" style="color:red;">Debe ingresar un dni válido.</span>
        </div>
    </div>
</div>

<!-- Campos de alta de Persona -->
<div class="form-group row" data-ng-if="persona.apellido_nombre == null">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre/s</label>
    <div class="col-sm-3">
        <input type="text" name="nombre" class="form-control" id="nombre" data-ng-model="persona.nombre" maxlength="80" placeholder="Nombre/s" data-ng-disabled="busquedaCuil" >
    </div>
    <label for="apellido" class="col-sm-2 col-form-label">Apellido/s</label>
    <div class="col-sm-3">
        <input type="text" name="apellido" class="form-control" id="apellido" data-ng-model="persona.apellido" maxlength="80" placeholder="apellido/s" data-ng-disabled="busquedaCuil" >
    </div>
</div>

<div class="form-group row" data-ng-if="persona.apellido_nombre != null">
    <label for="nombre" class="col-sm-3 col-form-label">Nombre/s y Apellido/s</label>
    <div class="col-sm-4">
        <input type="text" name="nombreCompleto" class="form-control" id="nombreCompleto" data-ng-model="persona.apellido_nombre" maxlength="200" placeholder="Nombre/s" data-ng-disabled="busquedaCuil" >
    </div>    
</div>

<div class="form-group row">
    <label for="dni" class="col-sm-2 col-form-label">CUIL</label>
    <div class="col-sm-3">
        <input type="text" name="cuil" class="form-control" id="cuil" data-ng-model="persona.cuil" maxlength="11" placeholder="CUIL" data-ng-disabled="busquedaCuil">
    </div>
    <label for="fecha_nacimiento" class="col-sm-2 col-form-label">Fecha de nacimiento</label>
    <div class="col-sm-3">
        <input type="text" name="fecha_nacimiento" class="form-control" id="fecha_nacimiento" data-ng-model="persona.fecha_nacimiento" placeholder="dd-mm-yyyy" data-ng-disabled="busquedaCuil" >
    </div>
</div>
<div class="form-group row">    
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-3">
        <input type="text" name="email" class="form-control" id="email" data-ng-model="persona.email" placeholder="ejemplo@mail.com" data-ng-disabled="busquedaCuil" >
    </div>
</div>
<!-- Campos de alta de Persona -->


<!-- Campos de alta de Usuarios -->
<div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Nombre de usuario</label>
    <div class="col-sm-3">
        <input type="text" name="username" class="form-control" id="username" data-ng-model="usuario.username" maxlength="80" placeholder="Nombre de usuario" required="true" data-ng-disabled="busquedaCuil">
    </div>
    <label for="rol" class="col-sm-2 col-form-label">Rol</label>
    <div class="col-sm-3">
        <select id="rol" name="rol" class="form-control" data-ng-model="rol.seleccionado" data-ng-options="rol.id as rol.nombre for rol in aRoles" data-ng-disabled="busquedaCuil" data-ng-change="comprobarRol();">
            <option value="" disabled>Seleccione...</option>
        </select>
        <span class="custom-error" ></span>
    </div>         
</div>
<div class="form-group row">        
    <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-3">
        <input type="password" name="password" class="form-control" id="password" data-ng-model="usuario.password" maxlength="80" placeholder="Contraseña" data-ng-disabled="busquedaCuil">
    </div>
    <label for="password1" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
    <div class="col-sm-3">
        <input type="password" name="password1" class="form-control" id="password1" data-ng-model="usuario.password1" maxlength="80" placeholder="Confirmar Contraseña" data-ng-disabled="busquedaCuil">
    </div>
</div>
<div class="alert alert-warning alert-dismissible" role="alert" data-ng-if="edicion">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Atención!</strong> Si deja vacio los campos de Contraseña y Confirmar Contraseña, se mantendra la contraseña actual.
</div>
<!-- Campos de alta de Usuarios -->