<div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-3">
        <input type="password" name="password" class="form-control" id="password" data-ng-model="usuario.password" maxlength="80" placeholder="Contraseña">
    </div> 
    <label for="password1" class="col-sm-2 col-form-label">Confirmar Contraseña</label>
    <div class="col-sm-3">
        <input type="password" name="password1" class="form-control" id="password1" data-ng-model="usuario.password1" maxlength="80" placeholder="Confirmar Contraseña">
    </div>
</div>
