{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block body %}
    <section>
        <div class="" data-ng-controller="AdminEditarMisDatosClaveController" data-ng-init="initCambioClave({{ usuario|json_encode() }})">            
            <div class="">
                <h2 class="title_interior">Modificar contraseña - {{usuario.usuario}}</h2>
            </div>
			<br>
			<form id="formCambioClave" class="">
				{% include '@ArgentinaPaisDigitalMicroCredito/Default/usuarios/camposContraseña.html.twig' %}
				<div class="form-group row">
					<div class="col"><hr></div>
				</div>
				<div class="form-group row" style="width:100%">
					<a href="{{path('admin_my')}}" class="btnMsec fLeft" >Volver</a>
					<div class="col" style=" text-align:right">
						<button data-ng-click="clear()" type="button" class="btnMsec" >Limpiar</button>
						<button type="button" data-ng-click="updateClave({{usuario.id}})" class="btnM colorBase" >Guardar</button>
					</div
				</div>
			</form>
		</div>
    </section>
{% endblock %}

{% block javascripts %}	
    <script type="text/javascript" src="{{asset('app/js/controllers/empresaController.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/services/empresaService.js')}}"></script>  
{% endblock %}
