{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section>
        <div class="">
            <h2 class="title_interior">Perfil</h2>
        </div>
        <br>
        <form id="formMisDatos" class="">
            <div class="row text-primary">
                <h5>Usuario</h5>
            </div>	
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Usuario</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.usuario}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Usuario desde</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.fecha_creacion|date("d/m/Y")}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">Apellido y nombre</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.apellido ~' '~ data.usuario.persona.nombre }}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">DNI</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.dni}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">CUIL</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.cuil}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label class="col-md-3 col-xs-12 col-form-label">Mail</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.email}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <div class="row">
                        <label  class="col-md-3 col-xs-12 col-form-label">Fecha Nac.</label>
                        <div class="col-md-3 col-xs-12">
                            <input value="{{data.usuario.persona.fecha_nacimiento |date('d-m-Y')}}" type="text" readonly class="form-control-plaintext font-weight-bold" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12">
                    <div class="float-right">                        
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btnM colorBase" href="{{path('admin_admin_modificacion_misdatos_clave')}}">Modificar Contraseña</a> 
                        {% endif %}                        
                        <br>
                    </div>
                </div>
            </div>                        
        </form>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}