{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block body %}
    <section>
        <div class="" data-ng-controller="UsuarioListadoController" data-ng-init="init({{ title|json_encode() }}, {{data|json_encode()}})">
            <div class="">
                <h2 class="title_interior">{[{title}]}</h2>
            </div>
            <br>
            <button class="accordion">Búsqueda por filtros - Resultados encontrados: {[{paramPagination.totalItems}]}</button>
            <div class="panel">
                <form style="margin-top: 40px; margin-bottom: 20px">
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="usuario" class="col-md-1 col-xs-12 col-form-label">Usuario</label>
                                 <div class="col-md-4 col-xs-6">
                                    <input ng-enter="fetchResult()" type="text" name="usuario" class="form-control" id="usuario" data-ng-model="filterCriteria.usuario" placeholder="Usuario">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="float-right">
                        <button data-ng-click="clear()" class="btnMsec" >Limpiar</button>
                        <button data-ng-click="fetchResult()" class="btnM colorBase" >Buscar</button>
                        <br><br>
                    </div>
                </form>
            </div>

            <div class="" style="margin-top: 12px; margin-bottom: 20px;">
                <div class="float-left">
                    <a href="{{path('admin_home')}}" class="btnMsec" >Volver</a>
                </div>
                <div class="float-right">
                    <a href="{{ path('admin_usuarios_nuevo')}}" class="btnM colorBase" >Nuevo Usuario</a>                
                </div>
            </div>
			
			


            <br><br><br>

            <div class="col-md-offset-1" >
                <div style="display:block; margin-top:30px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Nombre y Apellido</th>
                                <th>Roles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="u in usuarios">
                                <td width="11%">{[{u.fecha_creacion | date: 'dd-MM-yyyy'}]}</td>
                                <td>{[{u.usuario}]}</td>
                                <td data-ng-if="u.persona.apellido_nombre == null">{[{u.persona.nombre}]} {[{u.persona.apellido}]}</td>
                                <td data-ng-if="u.persona.apellido_nombre != null">{[{u.persona.apellido_nombre}]}</td>
                                <td>
                                    <ul data-ng-repeat="r in u.rol">
                                        <li>{[{r.nombre}]}</li>
                                    </ul>
                                </td>
                                <td style=" text-align: center" class="iconos-acciones">
                                    <a href="{[{'usuarios/'+u.id}]}" title="Modificar usuario" aria-label="Modificar usuario" style="color:#3D4D66 !important;">
                                        <span class="fa fa-pencil-alt iconP mano"><span class="sr-only">Modificar</span></span>
                                    </a>
                                </td>

                            </tr>
                            <tr data-ng-if="usuarios.length === 0">
                                <td colspan="4" style=" text-align: center; color: grey;">No hay usuarios cargados</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row" data-ng-if="usuarios.length > 0">
                        <ul class="page col justify-content-center text-center"
                            uib-pagination
                            max-size="3"
                            boundary-link-numbers="true"
                            rotate="false"
                            first-text="&laquo;"
                            last-text="&raquo;"
                            items-per-page= "paramPagination.itemsPerPage"
                            total-items="paramPagination.totalItems"
                            previous-text="Anterior"
                            next-text="Siguiente"
                            data-ng-model="paramPagination.page"
                            data-ng-change="pageChanged('fetchResult')" >
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/js/controllers/usuarioController.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/services/usuarioService.js')}}"></script>
{% endblock %}