{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block stylesheets %}
    <link href="{{asset('app/node_modules/select2/dist/css/select2.min.css')}}" rel="stylesheet">
    <link href="{{asset('app/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section>
        <div class="" data-ng-controller="EditarUsuarioController" data-ng-init="initUsuario({{ data|json_encode() }}, {{ roles|json_encode() }})">
            <div class="">
                <h2 class="title_interior">{{title}}</h2>
            </div>
            <br>
            <form id="formUsuarioModificacion" class="">
                {% include '@ArgentinaPaisDigitalMicroCredito/Default/usuarios/campos.html.twig' %}                
                <div class="form-group row">
                    <div class="col"><hr></div>
                </div>
                <div class="form-group row">
                        <a href="{{path('admin_usuarios_listado')}}" class="btnMsec" >Volver</a>
						
                   		
						<div class="col" style=" float:right; text-align:right">
						 <button data-ng-click="reset()" type="button" class="btnMsec" >Limpiar</button>
						 
                        <button type="submit" data-ng-click="updateUsuario(1)" class="btnM colorBase" >Guardar y volver</button>
                   
                        <button type="button" data-ng-click="updateUsuario(2)" class="btnM colorBase" >Guardar y nuevo</button>
						
						</div>
                    
                       
						
                       <!-- <a href="{{app.request.headers.get('referer')}}" class="btnMsec" >Cancelar</a>-->
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/node_modules/select2/dist/js/select2.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/controllers/usuarioController.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/services/usuarioService.js')}}"></script>      
{% endblock %}
