{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block body %}
    <section ng-controller="homeController" ng-init="initHome();" >
        
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                {% include '@ArgentinaPaisDigitalMicroCredito/menuAdmin.html.twig' %}
            {% endif %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/js/controllers/homeController.js')}}"></script>
{% endblock %}