<div class="row  justify-content-md-center">

    <div class="col-lg-4 col-12 col-md-6 tarjAzul">
        <a href="{{path('admin_usuarios_listado')}}" class="card panel-icon panel-primary" >

            <div class="card-header hidden-xsd-none d-sm-block" style="height: 152px;background-color: #3D4D66;color: #fff;text-align: center;"><i class="fas fa-5x fa-users mt-3 " ></i></div>
            <div class="card-body">
                <h3 >Usuarios</h3>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-12 col-md-6 tarjAzul">
        <a href="{{path('admin_colectivos_listado')}}" class="card panel-icon panel-primary" >

            <div class="card-header hidden-xsd-none d-sm-block" style="height: 152px;background-color: #3D4D66;color: #fff;text-align: center;"><i class="fas fa-5x fa-bus mt-3 " ></i></div>
            <div class="card-body">
                <h3 >Linea Colectivos</h3>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-12 col-md-6 tarjAzul">
        <a href="{{path('admin_paradas_listado')}}" class="card panel-icon panel-primary" >

            <div class="card-header hidden-xsd-none d-sm-block" style="height: 152px;background-color: #3D4D66;color: #fff;text-align: center;"><i class="fas fa-5x fa-flag mt-3 " ></i></div>
            <div class="card-body">
                <h3 >Paradas de colectivos</h3>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-12 col-md-6 tarjAzul">
        <a href="{{path('admin_empresas_listado')}}" class="card panel-icon panel-primary" >

            <div class="card-header hidden-xsd-none d-sm-block" style="height: 152px;background-color: #3D4D66;color: #fff;text-align: center;"><i class="fas fa-5x fa-building mt-3 " ></i></div>
            <div class="card-body">
                <h3>Empresas</h3>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-12 col-md-6 tarjAzul">
        <a href="{{ path('admin_publicidades_listado') }}" class="card panel-icon panel-primary" >

            <div class="card-header hidden-xsd-none d-sm-block" style="height: 152px;background-color: #3D4D66;color: #fff;text-align: center;"><i class="fas fa-5x fa-briefcase mt-3 " ></i></div>
            <div class="card-body">
                <h3>Publicidades</h3>
            </div>
        </a>
    </div>
</div>
</a>
</div>


</div>