<div class="modal-content" data-ng-init="initFormChangeEstate();" >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span class="text-info  fa fa-list" ></span>                 
                <span class="colorGris">| </span>
                {[{titulo}]}
            </h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" data-ng-click="cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <form id="formChangeEstate" >
            <div class="form-group" >
                <div class="row">
                    <label class="col-md-3" >Nuevo estado:</label>
                    <div class="col-md-4" >
                        <select id="cmbEstado" name="cmbEstado" class="form-control" data-ng-model="estado.estado"
                                data-ng-options="estado.id as estado.nombre for estado in dataEstado" required>                                
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="row">
                    <label class="col-md-3" >Detalle del reclamo:</label>
                    <div class="col-md-8" >
                        <textarea id="txtDetalle" name="txtDetalle" data-ng-model="estado.detalle" class="form-control" required maxlength="1000" >
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group" >
            <div class="row">
                <div class="col-md-4" >
                    <button type="button" class="btnMsec" data-dismiss="modal" data-ng-click="cerrar()">Cerrar</button>         
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" >
                    <button type="button" class="btnM colorBase" data-dismiss="modal" data-ng-click="saveEstado()">Guardar</button>         
                </div>
            </div>
        </div>
    </div>
</div>