<div class="modal-content" >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span class="text-info  fa fa-list" ></span>                 
                <span class="colorGris">| </span>
                {[{titulo}]}
            </h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" data-ng-click="cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="form-group" >
			<div class="row">
				<label class="col-md-1" >Núm:</label>
				<label class="col-md-1 font-weight-bold" >{[{reclamo.id}]}</label>
				<label class="col-md-1" >CUIL:</label>
				<label class="col-md-2 font-weight-bold" >{[{reclamo.cuil}]}</label>
				<label class="col-md-1" >Estado:</label>
				<label class="col-md-1 font-weight-bold" >{[{reclamo.estado.nombre}]}</label>
			</div>
        </div>
        <div class="form-group" >
			<div class="row">
				<label class="col-md-1" >Fecha:</label>
				<label class="col-md-2 font-weight-bold" >{[{reclamo.fecha_creacion | date: 'dd-MM-yyyy'}]}</label>
				<label class="col-md-1" >Email:</label>
				<label class="col-md-4 font-weight-bold" >{[{reclamo.email}]}</label>
			</div>
        </div>
        <div class="form-group" >
			<div class="row">
				<label class="col-md-3" >Apellido y nombre:</label>
				<label class="col-md-4 font-weight-bold" >{[{reclamo.persona.apellido+" "+reclamo.persona.nombre}]}</label>
				<label class="col-md-1" >DNI:</label>
				<label class="col-md-2 font-weight-bold" >{[{reclamo.persona.dni}]}</label>
				<label class="col-md-1" >CUIL:</label>
				<label class="col-md-2 font-weight-bold" >{[{reclamo.persona.cuil}]}</label>
			</div>
        </div>
        <div class="form-group" >
			<div class="row">
				<label class="col-md-3" >Detalle del reclamo:</label>
				<label class="col-md-9 font-weight-bold" >{[{reclamo.descripcion}]}</label>
			</div>
        </div>
		<div class="form-group" >
			<div class="row">
				<!--<div style="display:block; margin-top:30px">-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Org. Base</th>  
                                <th>Org. Concentradora</th>  
                                <th>Monto</th>
                                <th>Saldo</th>
                                <th>Observación</th>
                                <th>Situación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="c in reclamo.creditos">  
                                <td>{[{c.fecha_entrega_credito | date: 'dd-MM-yyyy'}]}</td>                                
                                <td>{[{c.persona_juridica.razon_social}]}</td> 
                                <td>{[{c.persona_juridica_concentradora.razon_social}]}</td>
                                <td data-ng-if="c.monto_credito !== null">{[{c.monto_credito}]}</td>
                                <td data-ng-if="c.monto_credito == null"> - </td>
                                <td data-ng-if="c.saldo_total_capital_interes !== null">{[{c.saldo_total_capital_interes}]}</td>
                                <td data-ng-if="c.saldo_total_capital_interes == null"> - </td>
                                <td data-ng-if="c.observaciones !== null && c.observaciones !== ''">{[{c.observaciones}]}</td>
                                <td data-ng-if="c.observaciones == null || c.observaciones == ''" style="text-align: center;"> - </td>
                                <td>{[{c.situacion.nombre}]}</td>
                            </tr>
                            <tr data-ng-if="creditos.length === 0">
                                <td colspan="4" style=" text-align: center; color: grey;">No hay creditos cargados.</td>
                            </tr>
                        </tbody>                        
                    </table>     
				<!--</div>-->
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btnMsec" data-dismiss="modal" data-ng-click="cerrar()">Cerrar</button>         
    </div>
</div>