<style>
    
    .table td, .table th {
        font-weight: 100;
        font-size: smaller;
    }

</style>

<div class="modal-content" >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span style="color: #c9302c; font-size: 22px;"  class="fa fa-exclamation-triangle" ></span>                 
                <span class="colorGris">| </span>
                {[{titulo}]}
            </h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" data-ng-click="cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-11"  style="font-size: 15px;font-weight: bold;" >{[{datos.mensaje}]}</div>
                </div>
                <br/>
                <div class="row" data-ng-if="datos.csv.length  > 0" style="overflow-y:auto;">

                    <div class="col-md-11"  style="font-size: 15px;" >A continuacion se muestra la estructura del csv, y los errores encontrados:</div>
                    </br></br>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th data-ng-repeat="u in datos.csv" style="color: black">
                                    {[{u[0]}]}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th data-ng-repeat="u in datos.csv" style="{[{ (u[1] == false)? 'color: red;':'color: green;' }]} font-weight: bold;">
                                    {[{u[2]}]}
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br/>
                <p style="font-size: 13px; font-style: italic;">
                    <a  data-toggle="collapse" href="#imageExample" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Ver ejemplo con el formato correcto</a>
                </p>
                <div id="imageExample" class="collapse multi-collapse" style="text-align: center;">
                    <div class="col-md-11"   >
                        <img src="{[{datos.linkImage}]}"/>
                    </div>
                    <div class="col-md-11"  style="font-size: 13px; font-style:     italic;" >
                        Descargar un ejemplo con el formato correcto del archivo csv descargue 
                            <a href="{[{ datos.urlDownload }]}"  target="_blank"
                            > aqui</a>
                        un ejemplo.
                    </div>
               </div>
                <br/>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="cerrar()">Cerrar</button>         
    </div>
</div>