<div class="modal-content " >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span style="color: #1d99a6;font-size: 22px;" class="fa fa-check-square" ></span>
                {[{titulo}]}
            </h4>
        </div>

    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-12" style="font-size: 15px;" >{[{datos.mensaje}]}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background-color: #1d99a6; color: white" type="button" class="btn" data-ng-click="confirm()"  focus-me="true">Aceptar</button>
    </div>
</div>