<div class="modal-content " >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span style="color: #1d99a6;font-size: 22px;"  class="fa fa-check-square" ></span>
                {[{titulo}]}
            </h4>
        </div>

    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-12" style="font-size: 15px;" >{[{datos.mensaje}]}</div>
                </div>
                <br/>
                <div class="row" ng-if="datos.creditos_no_validos.length > 0">
                    
                    <div class="col-md-11"  style="font-size: 15px;" >Los siguientes Creditos no fueron cargados</div>
                    <table class="table" style="margin-top: inherit;text-align: center;">
                        <thead>
                            <tr>
                                <th style="width: 200px;">DNI</th>
                                <th>Mensaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="u in datos.creditos_no_validos">
                                <td>{[{ (u.registro[6] != "")? u.registro[6]: "-" }]}</td>
                                <td style="color:red">{[{u.message}]}</td>
                        </tbody>
                    </table>
                </div>
                
                <br/>
                <div class="row" ng-if="datos.creditos_detalles_no_validos.length > 0">
                    
                    <div class="col-md-11"  style="font-size: 15px;" >Los siguientes detalles de creditos no fueron cargados</div>
                    <table class="table" style="margin-top: inherit;text-align: center;">
                        <thead>
                            <tr>
                                <th style="width: 200px;">DNI</th>
                                <th>Mensaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="u in datos.creditos_detalles_no_validos">
                                <td>{[{u.data[6] }]}</td>
                                <td style="color:red">{[{u.messageDetalle}]}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" ng-if="datos.list_no_inscriptos.length > 0">
            <button style="background-color: #1d99a6; color: white" type="button" class="btn" data-ng-click="descargarInscriptoEstado()"  focus-me="true">Alumnos No Inscriptos</button>
        </div>
        
        <button style="background-color: #1d99a6; color: white" type="button" class="btn" data-ng-click="confirm()"  focus-me="true">Aceptar</button>
    </div>
</div>