<div class="modal-content" >
    <div class="modal-header modal-cabecera">
        <!--<div class="modal-title" id="myModalLabel">
            <h4>
                <span style="color: #c9302c; font-size: 22px;"  class="fa fa-exclamation-triangle" ></span>                 
                <span class="colorGris">| </span>
                {{titulo}}
            </h4>
        </div>-->
        <button type="button" class="close" data-dismiss="modal" data-ng-click="cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-11"  style="font-size: 15px;" >{[{datos.mensaje}]}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="cerrar()">Cerrar</button>         
    </div>
</div>