<div class="modal-content " >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span style="font-size: 22px;"  class="fa fa-list text-info "  ></span> 
                Infomes cargados - {[{datos.cuil}]}
            </h4>
        </div>

    </div>
    <div class="modal-body">
        <div class="container-fluid" >
            <div class="card card-block  mb-3">
                <div class="card-header">Informes por clases</div>
                <div class="card-body">
                    <div class="row" >
                        <div class="table-responsive" >
                            <table class="table table-striped table-bordered" >
                                <thead class="thead-light" >
                                    <tr>
                                        <th>Fecha de la Clase</th>
                                        <th>Estado</th>
                                        <th>Asistencia</th>
                                        <th>Tarea completada</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="informe in informes">
                                        <td>{[{informe.fecha_clase | date: 'dd-MM-yyyy'}]}</td>
                                        <td ng-if="informe.estado"  >
                                            <span class="text-success fas fa-check"></span> <b>Activo</b>
                                        </td>
                                        <td ng-if="!informe.estado" >
                                            <span class="text-danger fas fa-exclamation-circle"></span> <b>Inactivo</b>
                                        </td>
                                        <td ng-if="informe.asistencia">
                                            <span class="text-success fas fa-check"></span> <b>Presente</b>
                                        </td>
                                        <td ng-if="!informe.asistencia">
                                            <span class="text-danger fa fa-exclamation-circle"></span> <b>Ausente</b>
                                        </td>
                                        <td class="text-center" ng-if="informe.tarea_completada">
                                            <span  class="text-success fas fa-check"></span> <b>Si</b>
                                        </td>
                                        <td class="text-center" ng-if="!informe.tarea_completada">
                                            <span  class="text-danger fas fa-exclamation-circle"></span> <b>No</b>
                                        </td>
                                        <td>{[{informe.observaciones}]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="float-left">
                        <div class="text-primary" >
                            Asistencia: <span style="margin-top: -20px" class="badge badge-primary">{[{metricas.porcentaje_asistencia}]} %</span>&nbsp;&nbsp;&nbsp;&nbsp; -  &nbsp;&nbsp;
                            Tareas completadas <span class="badge badge-primary">{[{metricas.porcentaje_tareas_compl}]} %</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-block mb-3">
                <div class="card-header">Informe final</div>
                <div class="card-body">
                    <div class="float-center">
                        <div ng-if="informes_finales.length <= 0" style="font-size: 14px" class="alert alert-info text-center" role="alert" >
                            Sin informe final cargado
                        </div>
                    </div>
                    <div ng-if="informes_finales.length > 0" class="table-responsive" >
                        <table class="table table-striped table-bordered" >
                            <thead class="thead-light" >
                                <tr>
                                    <th>Fecha de finalización</th>
                                    <th>Estado</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="informe_final in informes_finales">
                                    <td>{[{informe_final.fecha_finalizacion | date: 'dd-MM-yyyy'}]}</td>
                                    <td ng-if="informe_final.estado_final">
                                        <span class="text-success fa fa-check"></span> <b>Aprobado</b>
                                    </td>
                                    <td ng-if="!informe_final.estado_final">
                                        <span class="text-danger fa fa-exclamation-circle"></span> <b>No Aprobado</b>
                                    </td>
                                    <td>{[{informe_final.observaciones}]}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-ng-click="confirm()"  focus-me="true">Aceptar</button>
    </div>
</div>