<div>
	<div class="input-group">
		<input type="number" name="cuit" data-ng-change="checkEmpresaByCuit();" class="form-control" id="cuit" maxlength="11" minlength="10" data-ng-model="object.cuit" placeholder="CUIT" required="true" >
		<span data-ng-show="object.$$stateCuit == 1 || object.$$stateCuit == 2" class="input-group-append">
			<div class="input-group-text bg-transparent">
				<i data-ng-show="object.$$stateCuit == 1" class="text-success fa fa-check" ></i>
				<i data-ng-show="object.$$stateCuit == 2" class="text-danger fa fa-times" ></i>
			</div>
		</span>
	</div>
	<span class="custom-error-cuit" ></span>
</div>