<div class="modal-content " >
    <div class="modal-header modal-cabecera">
        <div class="modal-title" id="myModalLabel">
            <h4>
                <span style="font-size: 22px;"  class="fa fa-list text-info "  ></span>
                Aulas Disponibles
            </h4>
        </div>

    </div>
    <div class="modal-body">
        <div class="container-fluid" >
            <div class="row" >
                <div class="table-responsive" >
                    <table class="table table-sm table-striped" >
                        <thead class="thead-light" >
                            <tr>
                                <th>Fecha de alta</th>
                                <th>Nombre/N° aula</th>
                                <th class="text-center">Inscriptos</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="aula in aulas">
                                <td>{[{aula.fechaCreacion | date: 'dd-MM-yyyy'}]}</td>
                                <td>{[{aula.nombre}]}</td>
                                <td class="text-center"><span class="badge badge-info" style="padding: 5px; font-size: 12px"><b>{[{aula.inscriptos}]}</b></span></td>
                                <td ng-if="aula.estado == '0'">
                                    <span class="text-success"></span><b>INICIADO</b>
                                </td>
                                <td ng-if="aula.estado == '1'">
                                    <span class="text-success"></span><b>EN CURSO</b>
                                </td>
                                <td ng-if="aula.estado == '2'">
                                    <span class="text-warning fa fa-exclamation-circle"></span> <b>FINALIZADO</b>
                                </td>
                                <td data-ng-if="aula.id != aulaId && aula.inscriptos > 0">
                                    <a href="" class="btn btn-sm btn-info" data-ng-click="abrirAvisoCambioAula(aula.id,aula.inscriptos)">Cambiar</a>
                                </td>
                                <td data-ng-if="aula.id != aulaId && aula.inscriptos === 0">
                                    <a href="" class="btn btn-sm btn-info" data-ng-click="abrirAvisoNoInscriptos(aula.inscriptos)">Cambiar</a>
                                </td>
                                <td data-ng-if="aula.id == aulaId">
                                    <span class="text-success"><i class="fa fa-1x fa-check-square"></i></i></span><b> Aula actual</b>
                                </td>
                            </tr>
                            <tr data-ng-if="aulas.length === 0">
                                <td colspan="4" style=" text-align: center; color: grey;">El curso no dispone de otras aulas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-ng-click="cancel()"  focus-me="true">Cancelar</button>
    </div>
</div>