<div class="modal-content " >
    <div class="modal-header"style="background-color: #1d99a6; border-color: #1d99a6;">
        <div class="modal-title" id="myModalLabel">
            <h4 style="color: #fff;">                
                {[{titulo}]}
            </h4>
        </div>

    </div>
    <div class="modal-body">
        <div class="row" >
            <div class="col-md-12">
                <div class="row" >
                    <div class="col-md-12" style="font-size: 15px;" >
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-if='datos.apellido_nombre == "" || datos.apellido_nombre == null'>                                
                                <i class="fa fa-user"></i> {[{datos.nombre}]} {[{datos.apellido}]}
                            </li>
                            <li class="list-group-item" data-ng-if='datos.apellido_nombre != "" && datos.apellido_nombre != null'>                                
                                <i class="fa fa-user"></i> {[{datos.apellido_nombre}]}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-id-card"></i> {[{datos.dni}]}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-envelope"></i>
                                {[{datos.email}]}
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-birthday-cake"></i>
                                {[{datos.fecha_nacimiento | date: 'dd-MM-yyyy'}]}
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background-color: #1d99a6; color: white" type="button" class="btn" data-dismiss="modal" data-ng-click="cerrar()">Cerrar</button>
    </div>
</div>
