<!DOCTYPE html>
<html data-ng-app="app" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{asset('app/node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('app/css/droid-serif.css')}}" rel="stylesheet">
        <link href="{{asset('app/node_modules/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
        <link href="{{asset('app/node_modules/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
        <link href="{{asset('app/css/style.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico" />
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >

    {% block stylesheets %}{% endblock %}    
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}

</head>
{% include '@ArgentinaPaisDigitalMicroCredito/Default/config.html.twig' %}

<body>
    <div class=" page-content" data-ng-controller="mainController" style="margin-bottom:100px">
        <main role="main">
            <div style="position:relative;">
                {# HEADER #}
                <header class="container">
				<div class="tituloLogo align-self-center">
							 <h1><a href="{{path('admin_home')}}">¿Cómo viajo?</a></h1>
							 <div>| Jujuy</div>
				</div>
                </header>
                {# NAV MENU #}
                {% if app.user %}
                    {% include '@ArgentinaPaisDigitalMicroCredito/Default/nav.html.twig' %}
                {% endif %}
                {% if breadcrumbs|default() %}
                    {#						{{   dump(breadcrumbs['params']) }}#}
                    <nav aria-label="breadcrumb" class="container">
                        <ol class="breadcrumb">
                            {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb['active'] %}
                                    <li class="breadcrumb-item active" aria-current="page">{{breadcrumb['label']}}</li>
                                    {% else %}
                                    <li class="breadcrumb-item"><a href="{{path(breadcrumb['route'],breadcrumb['params'])}}">{{breadcrumb['label']}}</a></li>
                                    {% endif %}
                                {% endfor %}
                        </ol>
                    </nav>
                {% endif %}
				<div class="container" style="margin-bottom:40px">
                {# CONTENT #}
                {% block body %}
                {% endblock %}
                
               
				</div>
				
            </div>
			{#FOOTER #}
			<footer class="footerBase">
					<div class="container" style="text-align:center">
						{#<img src="{{asset('app/images/')}}" style="height:80px"> #}
					</div>
				</footer>

            <script type="text/javascript" src="{{asset('app/node_modules/angular/angular.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/jquery/dist/jquery.min.js')}}" ></script>
            <script type="text/javascript" src="{{asset('app/node_modules/popper.js/dist/umd/popper.min.js')}}" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/jquery-ui/jquery-ui.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/jquery-ui-datepicker-with-i18n/ui/i18n/jquery.ui.datepicker-es.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/downloadjs/download.js')}}"></script>

            <script type="text/javascript" src="{{asset('app/node_modules/jquery-validation/dist/jquery.validate.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/jquery-validation/dist/additional-methods.min.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/node_modules/jquery-validation/dist/localization/messages_es_AR.js')}}"></script>

            <script type="text/javascript" src="{{asset('app/node_modules/angular-bootstrap/dist/ui-bootstrap-tpls.js')}}"></script>

            <script type="text/javascript" src="{{asset('app/js/app.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/js/controllers/mainController.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/js/controllers/utilsController.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/js/services/utilService.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/js/services/ajaxService.js')}}"></script>
            <script type="text/javascript" src="{{asset('app/js/directives/custom.directive.js')}}"></script>
            <script type="text/javascript">

                var acc = document.getElementsByClassName("accordion");
                var i;
                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function () {
                        this.classList.toggle("activeAcc");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            if (panel.id == 'detalle') {
                                panel.style.maxHeight = "200px";
                            } else {
                                panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        }
                    });
                }
            </script>

        {% block javascripts %}{% endblock %}
    </main>
</div>
</body>
</html>





