{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}
{% block title %}
    {{title}}
{% endblock %}
{% block body %}
    <section>
		<br>
		<br>
		<div class="text-center text-danger" >
			{% if error==1 %}
				La página solicitada no existe.
			{% endif %}
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="text-center" >
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btnM colorBase" href="{{path('admin_home')}}" > &nbsp;Inicio</a>
			{% endif %}
			{% if is_granted('ROLE_ORGANIZACION_CONC') %}
				<a class="btnM colorBase" href="{{path('empresaconc_home')}}" > &nbsp;Inicio</a>
			{% endif %}
		</div>
    </section>
{% endblock %}
