<div class="navColor">
    <nav class=" navbar navbar-expand-lg navbar-dark container">

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse"  id="navbarSupportedContent" >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_home')}}"><span class="fas fa-home" ></span>&nbsp;Inicio</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_usuarios_listado')}}"><span class="fas fa-user" ></span>&nbsp;Usuarios</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_colectivos_listado')}}"><span class="fas fa-bus" ></span>&nbsp;Colectivos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_paradas_listado')}}"><span class="fas fa-flag" ></span>&nbsp;Paradas</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_empresas_listado')}}"><span class="fas fa-building" ></span>&nbsp;Empresas</a>
                    </li> 
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('admin_publicidades_listado')}}"><span class="fas fa-briefcase" ></span>&nbsp;Publicidades</a>
                    </li> 
                {% endif %}                
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user" ></span> {{app.user.usuario}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">                                                                 
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{path('admin_my')}}">Perfil</a> 
                        {% endif %}                        
                        <div class="dropdown-divider"></div>  
                         <a class="dropdown-item" href="{{path('logout')}}">Salir</a>                         
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>