{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}

{% block body %}
    <section>
        <div class="" data-ng-controller="GenerarClaveUsuarioController" data-ng-init="initUsuario({{ data|json_encode() }})">
            <br>
            <div class="">
                <h2 class="title_interior">{{title}}</h2>
            </div>
			<br>
			<form id="formGenerarClaveUsuario" class="">
				{% include '@ArgentinaPaisDigitalMicroCredito/public/usuarios/campos.html.twig' %}
				<div class="form-group row">
					<div class="col"><hr></div>
				</div>
				<div class="form-group row">																			                                
                                        <div class="col-md-2">
						<button id="botonClave" type="button" data-ng-click="saveClaveUsuario()" class="btnM colorBase" data-ng-disabled="botonGuardar">Guardar</button>
					</div>	
				</div>
			</form>
		</div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/js/controllers/usuarioController.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/services/usuarioService.js')}}"></script>
{% endblock %}

