{% extends '@ArgentinaPaisDigitalMicroCredito/Default/base.html.twig' %}

{% block body %}
<br><br>
    <section class="row justify-content-center">
        <div class="col-md-8" data-ng-controller="RecuperarClaveUsuarioController" data-ng-init="initUsuario()" style="padding:30px; border:1px solid #ccc;-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
            <br>
            <div class="">
                <h2 class="title_interior">{{title}}</h2>
            </div>
            <br>
            <span>Ingrese su CUIL y recibirá un email para gestionar una nueva contraseña en su casilla de correo electrónico.</span>
            <div class="form-group row">
                <div class="col"><hr></div>
            </div>            
            <br>
            <form id="formRecuperarClaveUsuario" class="">	                
                <div class="form-group row justify-content-center">      
				<div class="col-md-6">
					<div class="row">
                    <label for="password" class="col-form-label" style="margin-right:12px">CUIL</label>
                    <div>
                        <input type="text" name="cuil" class="form-control" id="cuil" data-ng-model="usuario.cuil" placeholder="Ingrese CUIL" maxlength="11" minlength="10"  onkeypress="return isNumberKey(event);">
                    </div>                     
                </div>   
				</div>
				</div>
                <div class="form-group row">
                    <div class="col"><hr></div>
                </div>
                <div class="form-group">		
					
						<div class="fLeft">
							<a href="{{path('login')}}" class="btnMsec" >Volver</a>
						</div>
					
                    <div class="col-md-2 fRight">
                        <button id="botonRecuperarClave" type="button" data-ng-click="recuperarClaveUsuario()" class="btnM colorBase">Enviar</button>
                    </div>	
                </div>
            </form>            
        </div>
       <!-- <div class="" style="margin-top: 12px; margin-bottom: 20px; display:block; width:100%; float:none!important">
            <div>
                <a href="{{path('login')}}" class="btnMsec" >Volver</a>
            </div>
        </div>-->
            <br/>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('app/js/controllers/usuarioController.js')}}"></script>
    <script type="text/javascript" src="{{asset('app/js/services/usuarioService.js')}}"></script>
{% endblock %}
